.App {
  text-align: center;
}

.logo {
  margin: 30px auto;
}

i {
  font-size: 60px;
  animation: Icon 1s ease-in-out;
}

@keyframes Icon {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}

.Session select {
  min-width: 300px;
}
